<div class="container">
  <div class="upper-data" [ngClass]="weatherData.main.temp < 17 ? 'cold' : 'hot'">
    
    <div class="location">{{weatherData.name}}, {{ weatherData.weather[0].description }}</div>
    <div class="temperature">{{ weatherData.main.temp | number: '1.0-0' }} °C</div>

  </div>
  <div class="lower-data">
    <div class="more-info-label">
      <b>More Information:</b>
    </div>

    <div>

      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <span>Min.</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.main.temp_min }} °C
          </div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <span>Max.</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.main.temp_max }} °C
          </div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <span>Humidity.</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.main.humidity }} %
          </div>
        </div>

        <div class="info-block">
          <div class="info-block-label">
            <span>Wind</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.wind.speed }} km/H
          </div>
        </div>
      </div>

    </div>

    <form #form="ngForm" (submit)="changelocation()" class="search-tag">
      <label for="fname">Enter a place: </label>
      <input type="text" id="fname" name="fname" [(ngModel)]="cityName">
      <button class="enterButton">Go!</button>
    </form>
  </div>
  
</div>

<router-outlet></router-outlet>
